/*********************************Classes - BEGIN *********************************/
.bnt {
  background: #75DFE0;
  background-image: -webkit-linear-gradient(top, #75DFE0, #9CEDF1);
  background-image: -moz-linear-gradient(top, #75DFE0, #9CEDF1);
  background-image: -ms-linear-gradient(top, #75DFE0, #9CEDF1);
  background-image: -o-linear-gradient(top, #75DFE0, #9CEDF1);
  background-image: linear-gradient(to bottom, #75DFE0, #9CEDF1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 39px;
  font-weight: 400;
  padding: 21px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.bnt:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.top-container {
  background-color: #EAF6F6;
  margin: 0;
}

.middle-container {
  margin: 100px 0;
}

.low-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 180px;
}

.top-cloud {
  left: 350px;
  position: relative;
  top: 30px;
}

.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

#trademark {
  top: 20px;
  color: #EAF6F6;
  padding: 20px 0;
}

.myself {
  top: 30px;
  position: relative;
  width: 180px;
  height: 180px;
}

.computer {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 30px;
}

.PS4 {
  width: 150px;
  height: 150px;
  float: right;
  margin-left: 30px;
}

.skills-row {
  width: 50%;
  margin: 100px auto 100px auto;
  /* will make center*/
  text-align: left;
  line-height: 2;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

/*********************************Classes - END *********************************/
/*********************************Elements - BEIGN *********************************/
body {
  text-align: center;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  color: #40514E;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin-bottom: 0px;
  /**root em**/
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  /**root em**/
}

h3 {
  color: #66BFBF;
  font-size: 1.75rem;
  font-family: 'Montserrat', sans-serif;
}

hr {
  /*background-color: white;*/
  /*border-style: dotted none none none;*/
  /*height: 0px;
  width: 30%;*/
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

/*********************************Elements - END*********************************/
